.result-block {
  display: inline-block;
}

.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

.logout {
  padding-left: 0;
}

.user-name {
  padding-top: 5px;
}

p.lead {
  float: left;
}

.nav.navbar-right li {
  .btn {
    color: #ff !important;
    margin-bottom: 5%;
  }
  .btn:hover {
    background-color: darken(#d34f6f, 20%) !important;
  }
}
